@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #98f17c;
}

@media (max-width:640px) {
  .hideOnMobile {
    display: none;
  }
}

@media (min-width: 768px) {
  .stationLineMap {
    align-items: center;
  }
}

.station img {
  height: 3rem;
  width: 3rem;
}

.card {
  height: 8rem;
  width: 7rem;
}

.stationLineMap {
  display: flex;
  flex-direction: column;
}